# Ignore specific checkpoint files
checkpoints/*/checkpoint_interrupted_1.pth

# Ignore history and cache files
.history/*
.pytest_cache/*

# Ignore VSCode configuration files
.vscode/*
# Python cache
__pycache__/
*.pyc
